html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}


body {
    font-family: 'ralewayregular', Arial, sans-serif;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'), url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.widthMain {
    width: 1056px;
    margin-left: auto;
    margin-right: auto;
}

/**/

header {
    width: 100%;
    background: black;
}

.head {
    color: white;
    font-weight: bold;
    position: relative;
}

.head ul li {
    font-size: 14px;
    font-weight: bolder;
    float: right;
    text-transform: uppercase;
    display: block;
    list-style-type: none;
    line-height: 40px;

}

.head ul li a {
    text-decoration: none;
    color: white;
    display: block;
    cursor: pointer;
}

.subMenuDiv:hover {
    display: block;
}

.menu {
    position: absolute;
    right: 185px;
    display: none;
}

.menu a {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 0 15px;
    display: block;
}

.head ul li:last-child:hover ul.menu {
    display: block;
}

.tooltip {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: relative;
    margin: 0 auto;
}

.head .menu li {
    float: none;
    line-height: 30px;
}

.head .menu li:nth-of-type(2) {
    padding: 0;
}

.widthMain::after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.head p {

    font-size: 13px;
    float: left;
    text-transform: uppercase;
    line-height: 40px;
}

.head span {
    color: #24BAA0;
}

.head ul li:nth-of-type(2) {
    padding: 0 51px;
}

/**/

.slider {
    height: 502px;
    background: rgba(250, 250, 250, 1);
    background: -o-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 51%, rgba(204, 204, 212, 1) 100%);
    background: -ms-linear-gradient(top, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 51%, rgba(204, 204, 212, 1) 100%);
    background: linear-gradient(to bottom, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 51%, rgba(204, 204, 212, 1) 100%);
}

.sliderChair img {
    margin-top: 10px;
    margin-left: 0;
}

.sliderChair li {
    display: none;
}

.sliderText {
    text-align: center;
    width: 360px;
    margin-top: 141px;
    margin-left: 30px;
    font-weight: bold;
}

.sliderText h2 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bolder;
}

.sliderText h2 span {
    color: #24BAA0;
    font-size: 40px;
    font-weight: bolder;
}

.sliderArrowLeft, .sliderChair, .sliderText {
    float: left;
}

.sliderArrowLeft {
    cursor: pointer;
}

.sliderArrowRight {
    float: right;
    cursor: pointer;
}

.sliderText p {
    margin: 20px 0;
    font-size: 14px;
}

.sliderButton {
    margin-left: auto;
    margin-right: auto;
    background: #24BAA0;
    height: 50px;
    width: 265px;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.sliderButton a {
    text-decoration: none;
    color: white;
}

.sliderArrowLeft, .sliderArrowRight {
    color: #24BAA0;
    margin: 205px 0;
    font-size: 78px;
}

.showTitle {
    display: none;
}

/**/

.products {
    height: 350px;
    position: relative;
}

.chair1 {
    background-image: url("../images/chair(2).jpg");
    background-size: cover;
}

.chair2 {
    background-image: url("../images/chair(3).jpg");
    background-size: cover;
}

.chair1, .chair2, .chair3 {
    float: left;
    width: 335px;
    height: 225px;
    margin-top: 27px;
    position: relative;
}

.chair3 {
    border: 1px solid #dbdbdb;
    padding: 20px;
    color: gray;
}

.chair2 {
    margin-right: 25px;
    margin-left: 25px;
}

.chair1Background {
    background: rgba(256, 256, 256, 0.25);
    height: 61px;
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 12px;
}

.titleChair1 {
    border-bottom: 7px solid #24BAA0;
    width: 137px;
    font-weight: bold;
}

.chair3 .titleChair1 {
    color: black;
    font-weight: bold;
}

/**/

.priceList {
    background: #f1f1f1;
    width: 100%;
    height: 725px;
    padding-top: 47px;
}

.priceOption {
    width: 334px;
    height: 500px;
    float: left;
    border: 3px solid #d6d5d5;
    text-align: center;
    position: relative;
    margin-top: 80px;
    background: #f9f9f9;
}

.priceOption:nth-of-type(2) {
    background: #24BAA0;
    margin: 80px 26px 0 27px;
    border: 3px solid #24BAA0;
}

.priceOptionValue {
    width: 130px;
    height: 130px;
    border: 1px solid #d6d5d5;
    border-radius: 70px;
    background: white;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: calc(50% - 64px);
}

.priceOption:nth-of-type(2) .priceOptionValue {
    border: 1px solid #24BAA0;
}

.priceOptionValue p:nth-of-type(1) {
    font-size: 45px;
    font-weight: bold;
    color: #d6d5d5;
    position: relative;
    top: 5px;
}

.priceOption:nth-of-type(2) p:nth-of-type(1) {
    color: #24BAA0;
}

.priceOptionValue p:nth-of-type(1) sup {
    font-size: 16px;
    position: relative;
    top: -27px;
}

.priceOption:nth-of-type(2) p:nth-of-type(1) sup {
    color: #24BAA0;
}

.priceOptionValue p:nth-of-type(2) {
    font-size: 16px;
    font-weight: bold;
    color: #d6d5d5;
    text-transform: uppercase;
    position: relative;
    top: 9px;
}

.priceOption:nth-of-type(2) p:nth-of-type(2) {
    color: #24BAA0;
}

.priceOptionItem1, .pricePlanItem3 {
    width: 100%;
    background-color: #e4e4e4;
    color: #939393;
    font-size: 24px;
    text-align: center;
    position: absolute;
    height: 42px;
    line-height: 42px;
}

.priceOptionItem2, .pricePlanItem4 {
    width: 100%;
    background-color: #f1f1f1;
    color: #939393;
    font-size: 24px;
    text-align: center;
    position: absolute;
    height: 42px;
    line-height: 42px;
}

.priceOptionItem1 {
    top: 243px;
}

.priceOption:nth-of-type(2) .priceOptionItem1, .priceOption:nth-of-type(2) .pricePlanItem3 {
    background-color: white;
}

.priceOptionItem2 {
    top: 285px;
}

.pricePlanItem3 {
    top: 327px;
}

.pricePlanItem4 {
    top: 369px;
}

.priceButton {
    background-color: #24BAA0;
    width: 122px;
    height: 33.5px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    line-height: 33.5px;
    position: absolute;
    bottom: 18px;
    left: calc(50% - 61px);
    font-size: 16px;
    cursor: pointer;
}

.priceOption:nth-of-type(2) .priceButton {
    background-color: white;
}

.priceButton a {
    color: white;
    text-decoration: none;
}

.priceOption:nth-of-type(2) .priceButton a {
    color: #24BAA0;
}

.priceOption h2 {
    text-transform: uppercase;
    color: #24BAA0;
    font-size: 23px;
    margin-top: 27px;
    text-align: center;
    font-weight: bold;
}

.priceOption:nth-of-type(2) h2 {
    color: white;
}

.circle {
    border: 3px solid #d6d5d5;
    width: 55px;
    height: 55px;
    border-radius: 40px;
    top: -40px;
    left: calc(50% - 30px);
    position: absolute;
    background-color: white;
}

.priceOption:nth-of-type(2) .circle {
    border: 3px solid #24BAA0;
    background-color: #24BAA0;
}

.circle::before {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 40px;
    top: calc(50% - 12.5px);
    left: calc(50% - 12.5px);
    position: absolute;
    background-color: #d6d5d5;
}

.priceOption:nth-of-type(2) .circle::before {
    background-color: #f1f1f1;
}

.TitlePriceList, .contactTitle, .titleCompose, .titleSummary {
    font-size: 23px;
    border-bottom: 8px solid #24BAA0;
    width: 200px;
    text-transform: uppercase;
}

.application {
    background-color: #f9f9f9;
    padding: 30px 0;
}

.compose, .image {
    float: left;
}

.image {
    margin: 60px 55px;
}

.summary {
    width: 340px;
    float: right;
}

.form {
    margin-top: 50px;
}

.dropDownList {
    position: relative;
    border: 1px solid #8de0d2;
    margin-bottom: 22px;
    height: 55px;
    width: 325px;
    background-color: white;
    padding: 8px 12px;
}

.listLabel {
    color: #e2e2e2;
    font-size: 30px;
}

.checkbox {
    padding: 30px 30px 30px 0;
    position: relative;
}

.checkbox input {
    width: 48px;
    opacity: 0;
    position: absolute;
    height: 48px;
    cursor: pointer;
    display: block;
}

.checkbox label {
    display: block;
    line-height: 120%;
    color: #cecece;
    padding-left: 65px;
    position: relative;
    cursor: pointer;
    font-size: 28px;
    padding-top: 10px;
}

.checkbox label::before, .checkbox label::after {
    left: 0;
    border: 1px solid #27c7ab;
    content: "";
    width: 48px;
    display: block;
    height: 50px;
    position: absolute;
    top: 0;
}

.checkbox label::after {
    display: none;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
    border: 0;
}

.checkbox input:checked + label::after {
    display: block;
}

.summaryPanel {
    background-color: white;
    width: 100%;
    height: 195px;
    padding: 10px;
    margin-top: 50px;
}

.orderButton {
    background-color: #24BAA0;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 250px;
    padding: 10px 30px;
    font-size: 24px;
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 8px;
    text-decoration: none;
}

.panelLeft {
    display: inline-block;
    width: 185px;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
}

.panelRight {
    display: inline-block;
    width: 100px;
    border-left: 1px solid #e7e7e7;
    text-align: right;
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e7e7;
    height: 135px;
}

.panelLeft h4, .panelRight h4 {
    color: #24baa0;
    font-size: 23px;
}

.panelLeft span {
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
    display: block;
}

.panelRight span {
    display: block;
    font-size: 22px;
    color: #24baa0;
    margin-top: 10px;
}

.totalPriceLabel {
    display: inline-block;
    width: 185px;
    margin-top: 10px;
    font-size: 22px;
    color: #5b5a5a;
}

.totalPrice {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-top: 10px;
    font-size: 22px;
    color: #24baa0;
}

.listArrow {
    width: 0;
    border-right: 15px solid transparent;
    height: 0;
    border-left: 15px solid transparent;
    position: absolute;
    border-top: 15px solid #24baa0;
    display: block;
    right: 14px;
    top: 20px;
    cursor: pointer;
}

.listPanel {
    background-color: white;
    padding-left: 15px;
    border: 1px solid #ccc;
    width: 325px;
    padding-bottom: 10px;
    list-style: none;
    margin: 0;
    left: 0px;
    z-index: 2;
    position: absolute;
    top: 54px;
}

.showList {
    display: none;
}

.listPanel li {
    margin-top: 10px;
    cursor: pointer;
    color: #585858;
}

.contact {
    width: 100%;
    height: 555px;
    padding-left: 12px;
}

.contactTitle {
    margin-top: 35px;
    margin-bottom: 52px;
}

.contactForm {
    display: block;
    width: 635px;
    float: left;
}

.contactForm input {
    font-family: 'ralewayregular';
}

.contactForm textarea {
    font-family: 'ralewayregular';
}

.contactForm2 {
    float: right;
    font-size: 20px;
    width: 343px;
    display: block;
    margin-right: 20px;
}

.contactForm2 input {
    position: absolute;
    width: 50px;
    cursor: pointer;
    display: block;
    height: 50px;
    margin-right: 12px;
    opacity: 0;
    float: left;
}

.contactForm2 label {
    font-size: 19px;
    color: #cecece;
    display: block;
    padding-left: 65px;
    position: relative;
    margin: 15px 0 36px 0;
}

.contactForm2 label::before, .contactForm2 label::after {
    position: absolute;
    height: 48px;
    width: 48px;
    border: 1px solid #27c7ab;
    content: "";
    display: block;
    left: 0;
    top: 0;
}

.contactForm2 label::after {
    display: none;
    border: 0;
    background: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20preserveAspectRatio%3D%22xMidYMid%22%20width%3D%2233.875%22%20height%3D%2233%22%20viewBox%3D%220%200%2033.875%2033%22%3E%0A%20%20%3Cpath%20d%3D%22M9.470%2C15.209%20L14.061%2C24.104%20C14.061%2C24.104%2021.522%2C6.026%2033.287%2C-0.000%20C33.000%2C4.304%2031.852%2C8.035%2033.861%2C12.626%20C28.696%2C13.774%2018.078%2C26.687%2014.635%2C33.000%20C9.756%2C26.974%204.017%2C22.382%20-0.000%2C20.948%20L9.470%2C15.209%20Z%22%20fill%3D%22%2327c7ab%22/%3E%0A%3C/svg%3E%0A") no-repeat center;
}

.contactForm2 input:checked + label::after {
    display: block;
}

.contact img {
    float: right;
    right: 90px;
    top: -15px;
    position: relative;
}

.contactForm textarea {
    height: 189px;
    resize: none;
    padding-top: 10px;
}

.contactForm input, .contactForm textarea {
    width: 635px;
    padding-left: 20px;
    border: 1px solid #8de0d2;
    font-size: 33px;
}

.contactForm input {
    height: 66px;
}

.SendButton {
    background-color: #24BAA0;
    text-align: center;
    width: 343px;
    height: 70px;
    text-transform: uppercase;
    border-radius: 10px;
    line-height: 70px;
    float: right;
    font-size: 34px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.SendButton a {
    color: white;
    text-decoration: none;
}

footer {
    margin-bottom: 50px;
}

footer p {
    float: left;
    margin-left: 10px;
    color: #939393;
    font-size: 16px;
}

footer p:nth-of-type(2) {
    color: #939393;
    font-size: 20px;
    text-transform: uppercase;
    float: right;
    font-weight: bold;
}

footer p:nth-of-type(2) span {
    font-weight: bolder;
}

.socialMedia {
    margin-right: 60px;
    float: right;
    margin-top: -11px;
    font-size: 30px;
}

.fa {
    font-size: 35px;
}

.fa-flickr {
    color: #ff0084;
}

.fa-vimeo-square {
    color: #44b0de;
}

.fa-pinterest-square {
    color: #cc252c;
}

.fa-twitter-square {
    color: #44b0de;
}

article, aside, figure, footer, header, nav, section, details, summary {
    display: block;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

img, object, embed {
    max-width: 100%;
}

ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted #000;
    cursor: help;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

th {
    font-weight: bold;
    vertical-align: bottom;
}

td {
    font-weight: normal;
    vertical-align: top;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

pre {
    white-space: pre;

    white-space: pre-wrap;

    white-space: pre-line;

    word-wrap: break-word;

}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
    vertical-align: baseline;
}

.ie6 input {
    vertical-align: text-bottom;
}

select, input, textarea {
    font: 99% sans-serif;
}

table {
    font-size: inherit;
    font: 100%;
}

small {
    font-size: 85%;
}

strong {
    font-weight: bold;
}

td, td img {
    vertical-align: top;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

.clickable, label, input[type=button], input[type=submit], input[type=file], button {
    cursor: pointer;
}

button, input, select, textarea {
    margin: 0;
}

button, input[type=button] {
    width: auto;
    overflow: visible;
}

.ie7 img {
    -ms-interpolation-mode: bicubic;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
